@import "reset.scss" ;

// Variables
$bg-color:#DDD;
$border-color:darken($bg-color, 10%);
$pane-bg-color:lighten($bg-color, 5%);
$log-bg-color: #FFFFEE;
$menu-width:250px;

$font-size:12px;
$font-color:#444;

$radius-sm:3px;
$radius-lg:5px;

$padding-sm:3px;
$padding-lg:10px;

$margin-sm:5px;
$margin-lg:15px;

$playerColor: #44FC44;
$ennemyColor: #FC8888;
$bossColor:   #F00;
$chestColor:  #8888FC;
$floorColor:  #c1ac53;
$wallColor:   $border-color;

*{
  box-sizing: border-box;
}

body{
  background-color:$bg-color;
  font-family: sans-serif;
  font-size:$font-size;
  color:$font-color;
  line-height: $font-size+2*$padding-sm;
  padding:$padding-lg;
}

#menu{
  width:$menu-width;
  float:left;
  border: 1px solid $border-color;
  border-bottom-width: 3px;
  background-color: $pane-bg-color;
  padding:$padding-lg;
  h3{
    border-bottom:1px solid $border-color;
    font-size:1.2em;
    margin-top:$margin-lg;
  }
  h3:first-child{
    margin-top:0px;
  }
}

#questLog{
  border:1px solid lighten($border-color, 5%);
  background-color:$log-bg-color;
  color:invert($log-bg-color);
  padding:$padding-sm;
  font-family:monospace;
}

#game{
  border: 1px solid $border-color;
  background-color: $pane-bg-color;
  margin-left:$menu-width+$margin-lg;
  height:100%;
}

// Map row
.row{
  display: table-row;
}
// Map cell
.cell{
  display: table-cell;
  width: 7px;
  border:none;
}

.cell:after{
  content: "";
  display: block;
  padding-bottom: 100%;
  border:none;
}
.cell-wall{
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAcAAAAHCAYAAADEUlfTAAAAMElEQVQIW2NkwA18GHHI+TAwMGzBJgmWAGlCl4RLoEvCJDB0ouhgYGCA24kuAXcjAJOJCFSmjFfLAAAAAElFTkSuQmCC);
  background-size: 100% auto;
  background-color: $wallColor;
}
.cell-floor{
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAcAAAAHCAYAAADEUlfTAAAAL0lEQVQIW2NkgAAfKI1CMUIltlBNUpKBgeE5yFhsAC4JcgzITpAAMgDrhElimAAA2UEIVBhnGn4AAAAASUVORK5CYII=);
  background-size: 100% auto;
  background-color: $floorColor;
}
.cell-enemy{
  background-color: $ennemyColor;
}
.cell-item{
  background-color: $chestColor;
}
.cell-boss{
  background-color: $bossColor;
}

// Generating 20 rooms, seems enough for testing
@for $i from 0 through 20{
  .room-#{$i}{
    background-color: rgb(random(155)+100, random(155)+100, random(155)+100); // Random starting at 100 to avoid dark bgs
  }
}
