@import "reset.scss" ;

// Variables
$bg-color:#DDD;
$cell-border:darken($bg-color, 10%);

$font-size:12px;
$font-color:#444;

$radius-sm:3px;
$radius-lg:5px;

$padding-sm:3px;
$padding-lg:10px;

$margin-sm:5px;
$margin-lg:15px;
