/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/*
  Variables
*/
* {
  box-sizing: border-box; }

body {
  background-color: #DDD;
  font-family: sans-serif;
  font-size: 12px;
  color: #444;
  line-height: 18px;
  padding: 10px; }

h1 {
  font-size: 2em;
  font-weight: bold; }

h2 {
  margin-bottom: 5px;
  margin-top: 15px;
  font-size: 1.5em;
  font-weight: bold; }

small {
  font-size: 0.8em;
  color: #999; }

input {
  background-color: #DDD;
  border: 1px solid #c4c4c4;
  padding: 3px;
  border-bottom-width: 3px; }

input:focus {
  background-color: #f7f7f7; }

/* Remove controls from Firefox */
input[type=number] {
  -moz-appearance: textfield;
  text-align: right; }

/* Re-applies the controls on :hover and :focus */
input[type="number"]:hover, input[type="number"]:focus {
  -moz-appearance: number-input; }

textarea, input {
  outline: none; }

table {
  width: 100%; }

th {
  padding: 3px 10px;
  width: 75px;
  text-align: left;
  font-weight: bold; }

td {
  padding-left: 3px 10px; }

tr:nth-child(odd) {
  background: rgba(0, 0, 0, 0.1); }

tr:nth-child(even) {
  background: rgba(255, 255, 255, 0.2); }

#app {
  width: 1100px; }

#main {
  display: flex;
  margin: 15px 0px; }

#menu {
  width: 250px; }
#menu .btn {
  display: block;
  width: 100%;
  margin-bottom: 5px; }

#menu, #game {
  margin-right: 15px; }

#menu, #game, #questLog {
  display: block; }

#questLog {
  width: 250px;
  height: 100%;
  max-height: 525px;
  overflow: hidden; }
#questLog div {
  font-family: monospace;
  font-size: 0.8em; }
#questLog div.info {
  border-bottom: 3px solid #c4c4c4;
  font-size: 1.5em;
  margin-bottom: 5px;
  color: #2b2b2b; }

.avatar {
  border: 1px solid #c4c4c4;
  border-bottom-width: 3px;
  background-color: #eaeaea;
  padding: 3px;
  margin-bottom: 15px; }

.avatar-header {
  display: flex;
  margin-bottom: 5px; }

.avatar-img {
  display: inline-flex;
  max-width: 50px;
  max-height: 50px;
  min-width: 50px;
  min-height: 50px;
  background-repeat: no-repeat; }

.avatar-content {
  display: inline-block;
  border-left: 1px solid #c4c4c4;
  margin-left: 5px;
  padding-left: 5px;
  min-height: 50px; }

.avatar-name {
  font-weight: bold;
  font-size: 1.2em;
  margin-bottom: 5px; }

.avatar-description {
  font-style: italic;
  color: #6a6a6a; }

.btn {
  cursor: pointer;
  font-variant: small-caps;
  text-align: center;
  font-weight: bold;
  text-decoration: none;
  color: #444;
  background-color: #d0d0d0;
  border: 1px solid #c4c4c4;
  border-radius: 3px;
  padding: 3px 10px;
  border-bottom-width: 3px; }
.btn:hover {
  background-color: #eaeaea; }
.btn .active {
  top: 3px;
  border-top: 3px;
  border-bottom-width: 1px;
  background-color: #dddddd; }

.disabled {
  opacity: 0.7;
  cursor: not-allowed; }

.panel {
  border: 1px solid #c4c4c4;
  background-color: #eaeaea;
  padding: 10px; }

.tooltip {
  display: none;
  position: absolute;
  border: 1px solid #333;
  background-color: #161616;
  border-radius: 3px;
  padding: 3px 10px;
  color: #fff;
  font-size: 0.8em;
  font-family: monospace; }
.tooltip li {
  margin-left: 15px; }
.tooltip strong {
  text-decoration: underline; }

.message-success {
  background-color: rgba(98, 225, 98, 0.2);
  border-color: #62e162;
  color: #444; }

.message-info {
  background-color: rgba(98, 98, 225, 0.2);
  border-color: #6262e1;
  color: #444; }

.message-danger {
  background-color: rgba(225, 166, 98, 0.2);
  border-color: #e1a662;
  color: #444; }

.message-fatal {
  background-color: rgba(225, 98, 98, 0.2);
  border-color: #e16262;
  color: #444; }

.message-hr {
  text-align: center; }

.progress {
  width: 100%; }
.progress .bar-wrap .bar {
  height: 4px; }
.progress span {
  position: relative;
  float: left;
  text-align: center;
  display: block; }

.orange {
  background-color: #e1a662; }

.red {
  background-color: #e16262; }

.green {
  background-color: #62e162; }

/*
  VARIABLES
*/
/*
  CLASSES
*/
.map-row {
  display: table-row; }

/* Cell */
.map-cell {
  display: table-cell;
  width: 35;
  border: none; }

.map-cell:after {
  content: "";
  display: block;
  padding-bottom: 100%;
  border: none; }

/* Specific cells */
.map-cell-wall {
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAOCAYAAAAfSC3RAAAAnUlEQVQokY1SuxLDIAxTOW8MjMwZkp/qh7Tf2g6ZGRnYfNcMLa1NHKdaeJxlIZnL7X594QMuDQCwVsa8JHgII8kClwYuDc9H1URJkmpes3BEAgDKUa1Toq8q9UsAmLNrSzUmv/QHylE1DlaRFcaIXTheIDui9Cn3Hv72KF+zVn6Pw/IyjkZamBLZimOCFsLZv+xKlKPO4uwzj2H18waURVCVLdhS4wAAAABJRU5ErkJggg==");
  background-size: 25% auto;
  background-color: #CCC; }

.map-cell-floor {
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAcAAAAHCAYAAADEUlfTAAAAL0lEQVQIW2NkgAAfKI1CMUIltlBNUpKBgeE5yFhsAC4JcgzITpAAMgDrhElimAAA2UEIVBhnGn4AAAAASUVORK5CYII=");
  background-size: 25% auto;
  background-color: #c1ac53; }

.map-cell-water {
  /*background-image:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAcAAAAHCAYAAADEUlfTAAAAMElEQVQIW2NkwAMYoXLGUPosMh8kCZJAEYTxYTqxGg6SlITKPIfScD6yTgxFeI0FAHc5BlSOgEKdAAAAAElFTkSuQmCC);*/
  background-image: url("data:image/gif;base64,R0lGODdhDgAOAKIAAAAAADJubnevtsbZ6MHH33yZuwAAAAAAACH/C05FVFNDQVBFMi4wAwEAAAAh+QQJHgAAACwAAAAADgAOAAADKyi63BJhwPAkhWOQLHWOGiGKITkypyA6UcNN2faV3DiGqo2uTu//wKCwlwAAIfkECR4AAAAsAAAAAA4ADgAAAysoutwaYcAg4oRjkCw1z0QoamLJiMrmRM0mYV4WjWC5Eam5oE7v/8Cg0JEAACH5BAkeAAAALAAAAAAOAA4AAAMrKLrMsSGM+KSNY5A8tc9EKGpiyYjL0AgS81EgF5RcGWqKfRJr7//AoLCXAAAh+QQJHgAAACwAAAAADgAOAAADKyi63BphwCDihGOQLDXPRChqYsmIyuZEzSZhXhaNYLkRqbmgTu//wKDQkQAAOw==");
  background-size: 25% auto;
  background-color: #1d67f9 !important; }

.map-cell-lava {
  background-image: url("data:image/gif;base64,R0lGODdhDgAOACcAACH/C05FVFNDQVBFMi4wAwEAAAAh+QQJHgAAACwAAAAADgAOAIIAAAC2dwBuMjLoWADBxwBuMgC2WAAAAAADMBi63CFiQPEkhWOQLHWOGiGKITkyZyA6UcNN2faV3DiGqo2uTu8vBUMj2BAWf8hGAgAh+QQJHgAAACwAAAAADgAOAIIAAAC2dwBuMjLoWADBxwBuMgC2WAAAAAADMBi63CpiQBHihGOQLDXPRChqYsmIyuZEzSZhXhaNYLkRqbmgTu8rBUMj2BAWf8hGAgAh+QQJHgAAACwAAAAADgAOAIIAAAC2dwBuMjLoWADBxwBuMgC2WAAAAAADMBi6zLJCjPikjWOQPLXPRChqYsmIy9AEEvNRICeUXBlqin0Sa+8vBUMj2BAWf8hGAgAh+QQJHgAAACwAAAAADgAOAIIAAAC2dwBuMjLoWADBxwBuMgC2WAAAAAADMBi63CpiQBHihGOQLDXPRChqYsmIyuZEzSZhXhaNYLkRqbmgTu8rBUMj2BAWf8hGAgA7");
  background-size: 25% auto;
  background-color: #f9d51d !important; }

.map-cell-void {
  background-size: 100% auto;
  background-color: #000 !important; }

.map-cell-item-enemy:after {
  background-size: 100% auto;
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAOCAQAAAC1QeVaAAAAeUlEQVQYlX2Q0Q3DMAgFD6tzdCxL2SNjOHNEolt5kdePkgasqucfi0PPBgMAiS9mZCTK2bQolyQNedar8qQbgNM5ePEEoDMis13hOzPUTUhPpfv+qKVZ2lqO6tGwr1O6JJc00igNzARMjMlnORunld/+4q+MVyvXbt9QxF+28/K7hAAAAABJRU5ErkJggg=="); }

.map-cell-item-chest:after {
  background-size: 100% auto;
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAOCAYAAAAfSC3RAAAAw0lEQVQokWNgIBMwovH/E6seWeP/NEtDBgYGBoapO1kZst1/Y7BnHT8P1wPT+L8/zJqBgYGBIWfOb4YpKawYVl1//I1BU5aLoXDVUQYGBgZGFmQJhOm/MTRC5L5huPm/koIJAe9BwL0HZxgYGBgYmWACLpJ/GW5eYmJwkfzLwMDAwLC9wYhhe4MRVjkGBgYGJhTT1hkQZSsDAwMDCzZBF8m/DJ4N5+BshKGnsduoFHQBRTOy05DlKHIqPFSJ1oGqj44AAG86PtaEiWBfAAAAAElFTkSuQmCC"); }

.map-cell-item-health:after {
  background-size: 100% auto;
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAOCAYAAAAfSC3RAAAAnklEQVQokcWRsQ6CMBRFD8YQQxgKLh0hfoGjf+DnMrowOzLKD5jg1sFoQkjKVFPbp4ycrS/3pPflwao0ZW2bsrZLM4CtH8jPJwC6dmePj1sizVw+cdJUFQCkSpFpzfNyZaoKUqUAyLRm33Y4eRNWGI3hNQy4n0ZjxLUi0YVN33+9Qz6d/boSh/ubaMclOZQiUZIlSRR9+Zf0F+no6zIDbk1Pu03MjqgAAAAASUVORK5CYII="); }

.map-cell-item-boss:after {
  background-size: 100% auto;
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAOCAYAAAAfSC3RAAAAuklEQVQokZ2SsQ3EIAxFv6NrMkKaG4CWNdJeJskYySJcmzVoKSloMoJLX3EJB4TkpHwJ2cZ+2BImJBIRwYmIiLI4hYpclc+cFDJa49V1AIDZezzbFoO1B5j+QbtKuNk9ozUGazF7j/e6HqBJqWzmBoVG5xCYzzrVQaN1tah2/7gqCsynj8WO5UhpHJgxOnekt48XAGK0Fun7aCelYm47v45ERPvSBGbQskRbiDLwjm6D2a5eFn63K9Z/AKl/YS7wMRjiAAAAAElFTkSuQmCC"); }

.map-cell-item-player:after {
  background-size: 100% auto;
  background-image: url("data:image/gif;base64,R0lGODdhDgAOAHcAACH/C05FVFNDQVBFMi4wAwEAAAAh+QQJCgAAACwAAAAADgAOAIMAAAAiIDRFKDysMjJmOTGpdVDGclCEnkO2n1eNa1FgWJgAAAAAAAAAAAAAAAAAAAAETxBIGaa9QIgxwKhUNhDkoFkmMRaFMRwCSqrEgXDTVmoHUagVAU0QSAh/Mc+MmCqYAIHRQKHYjFRJz/S6k3QECm4JNzFJTTEQtIPuYDAgdwQAIfkECQoAAAAsAAAAAA4ADgCDAAAAIiA0rDIyRSg8ZjkxYFiYqXVQxnJQjWtRhJ5DAAAAAAAAAAAAAAAAAAAAAAAABE8QSBmmnUIKMQYQFQUMAmFuXvYJxWYchulNZFGYhLFhJduVsUFlgBMiSEEJ6QQixjKBzamTSGxUIxzOOlNKcYIEycL5cgAhdKYzvrjRGkkEACH5BAkKAAAALAAAAAAOAA4AgwAAACIgNKwyMkUoPGY5Mal1UGBYmKeCe8ZyUI1rUYSeQwAAAAAAAAAAAAAAAAAAAARQEEgZpp1CijGyqBTACQKxZYBHEkThCsZgdSwrHOREm5thIKbKrpMYtEwSI2sQCBiBskCJpRjZZBqBQmGqoZKKlY3Q0Yh2puhEmtpgL/DKNwIAIfkECQoAAAAsAAAAAA4ADgCDAAAAIiA0rDIyRSg8ZjkxhJ5DqXVQxnJQYFiYAAAAAAAAAAAAAAAAAAAAAAAAAAAABE8QSBmmvUCMnSsFg0AQgiZIp1aIRlsOVliMo0HAaFkUG1tWotEgcPDhBiNNIIC0wZg0zQAhKk1KNAKCipMgkyQB9TQJBUnPSeDUI1vc6ksEADs=") !important; }

.map-cell-item-tomb:after {
  background-size: 100% auto;
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAOCAQAAAC1QeVaAAAAeUlEQVQYlX2Q0Q3DMAgFD6tzdCxL2SNjOHNEolt5kdePkgasqucfi0PPBgMAiS9mZCTK2bQolyQNedar8qQbgNM5ePEEoDMis13hOzPUTUhPpfv+qKVZ2lqO6tGwr1O6JJc00igNzARMjMlnORunld/+4q+MVyvXbt9QxF+28/K7hAAAAABJRU5ErkJggg==");
  background-color: #FFF; }

.map-cell-item-tomb-player:after {
  background-size: 100% auto;
  background-image: url("data:image/gif;base64,R0lGODdhDgAOAHcAACH/C05FVFNDQVBFMi4wAwEAAAAh+QQJCgAAACwAAAAADgAOAIMAAAAiIDRFKDysMjJmOTGpdVDGclCEnkO2n1eNa1FgWJgAAAAAAAAAAAAAAAAAAAAETxBIGaa9QIgxwKhUNhDkoFkmMRaFMRwCSqrEgXDTVmoHUagVAU0QSAh/Mc+MmCqYAIHRQKHYjFRJz/S6k3QECm4JNzFJTTEQtIPuYDAgdwQAIfkECQoAAAAsAAAAAA4ADgCDAAAAIiA0rDIyRSg8ZjkxYFiYqXVQxnJQjWtRhJ5DAAAAAAAAAAAAAAAAAAAAAAAABE8QSBmmnUIKMQYQFQUMAmFuXvYJxWYchulNZFGYhLFhJduVsUFlgBMiSEEJ6QQixjKBzamTSGxUIxzOOlNKcYIEycL5cgAhdKYzvrjRGkkEACH5BAkKAAAALAAAAAAOAA4AgwAAACIgNKwyMkUoPGY5Mal1UGBYmKeCe8ZyUI1rUYSeQwAAAAAAAAAAAAAAAAAAAARQEEgZpp1CijGyqBTACQKxZYBHEkThCsZgdSwrHOREm5thIKbKrpMYtEwSI2sQCBiBskCJpRjZZBqBQmGqoZKKlY3Q0Yh2puhEmtpgL/DKNwIAIfkECQoAAAAsAAAAAA4ADgCDAAAAIiA0rDIyRSg8ZjkxhJ5DqXVQxnJQYFiYAAAAAAAAAAAAAAAAAAAAAAAAAAAABE8QSBmmvUCMnSsFg0AQgiZIp1aIRlsOVliMo0HAaFkUG1tWotEgcPDhBiNNIIC0wZg0zQAhKk1KNAKCipMgkyQB9TQJBUnPSeDUI1vc6ksEADs=");
  background-color: #FFF; }

/* Rooms */
.map-cell-room-0 {
  background-color: #8ad9cd; }

.map-room-0-overlay {
  background-color: rgba(138, 217, 205, 0.5);
  color: #3ebfab;
  border: 1px solid #3ebfab; }

.map-cell-room-1 {
  background-color: #80fbb3; }

.map-room-1-overlay {
  background-color: rgba(128, 251, 179, 0.5);
  color: #1df878;
  border: 1px solid #1df878; }

.map-cell-room-2 {
  background-color: #e67ab5; }

.map-room-2-overlay {
  background-color: rgba(230, 122, 181, 0.5);
  color: #d22885;
  border: 1px solid #d22885; }

.map-cell-room-3 {
  background-color: #74f59c; }

.map-room-3-overlay {
  background-color: rgba(116, 245, 156, 0.5);
  color: #15ee58;
  border: 1px solid #15ee58; }

.map-cell-room-4 {
  background-color: #e96bf7; }

.map-room-4-overlay {
  background-color: rgba(233, 107, 247, 0.5);
  color: #d80def;
  border: 1px solid #d80def; }

.map-cell-room-5 {
  background-color: #9979c0; }

.map-room-5-overlay {
  background-color: rgba(153, 121, 192, 0.5);
  color: #664390;
  border: 1px solid #664390; }

.map-cell-room-6 {
  background-color: #a0818c; }

.map-room-6-overlay {
  background-color: rgba(160, 129, 140, 0.5);
  color: #6b505a;
  border: 1px solid #6b505a; }

.map-cell-room-7 {
  background-color: #8cc9d9; }

.map-room-7-overlay {
  background-color: rgba(140, 201, 217, 0.5);
  color: #3fa5c0;
  border: 1px solid #3fa5c0; }

.map-cell-room-8 {
  background-color: #899975; }

.map-room-8-overlay {
  background-color: rgba(137, 153, 117, 0.5);
  color: #556147;
  border: 1px solid #556147; }

.map-cell-room-9 {
  background-color: #d8e6cd; }

.map-room-9-overlay {
  background-color: rgba(216, 230, 205, 0.5);
  color: #a3c489;
  border: 1px solid #a3c489; }

.map-cell-room-10 {
  background-color: #828fbb; }

.map-room-10-overlay {
  background-color: rgba(130, 143, 187, 0.5);
  color: #4c5a8b;
  border: 1px solid #4c5a8b; }

.map-cell-room-11 {
  background-color: #ae8a88; }

.map-room-11-overlay {
  background-color: rgba(174, 138, 136, 0.5);
  color: #7c5654;
  border: 1px solid #7c5654; }

.map-cell-room-12 {
  background-color: #81af65; }

.map-room-12-overlay {
  background-color: rgba(129, 175, 101, 0.5);
  color: #50733b;
  border: 1px solid #50733b; }

.map-cell-room-13 {
  background-color: #aa806e; }

.map-room-13-overlay {
  background-color: rgba(170, 128, 110, 0.5);
  color: #705042;
  border: 1px solid #705042; }

.map-cell-room-14 {
  background-color: #f2b86c; }

.map-room-14-overlay {
  background-color: rgba(242, 184, 108, 0.5);
  color: #e48a14;
  border: 1px solid #e48a14; }

.map-cell-room-15 {
  background-color: #8da998; }

.map-room-15-overlay {
  background-color: rgba(141, 169, 152, 0.5);
  color: #597765;
  border: 1px solid #597765; }

.map-cell-room-16 {
  background-color: #8a99c4; }

.map-room-16-overlay {
  background-color: rgba(138, 153, 196, 0.5);
  color: #4e629a;
  border: 1px solid #4e629a; }

.map-cell-room-17 {
  background-color: #73cbf2; }

.map-room-17-overlay {
  background-color: rgba(115, 203, 242, 0.5);
  color: #16a8e9;
  border: 1px solid #16a8e9; }

.map-cell-room-18 {
  background-color: #bacf65; }

.map-room-18-overlay {
  background-color: rgba(186, 207, 101, 0.5);
  color: #889d31;
  border: 1px solid #889d31; }

.map-cell-room-19 {
  background-color: #b180d6; }

.map-room-19-overlay {
  background-color: rgba(177, 128, 214, 0.5);
  color: #813bb5;
  border: 1px solid #813bb5; }

.map-cell-room-20 {
  background-color: #70d4e5; }

.map-room-20-overlay {
  background-color: rgba(112, 212, 229, 0.5);
  color: #25b2ca;
  border: 1px solid #25b2ca; }

.map-cell-room-21 {
  background-color: #78cfa2; }

.map-room-21-overlay {
  background-color: rgba(120, 207, 162, 0.5);
  color: #3ba66f;
  border: 1px solid #3ba66f; }

.map-cell-room-22 {
  background-color: #cfd2f4; }

.map-room-22-overlay {
  background-color: rgba(207, 210, 244, 0.5);
  color: #7c84e1;
  border: 1px solid #7c84e1; }

.map-cell-room-23 {
  background-color: #e4f4ea; }

.map-room-23-overlay {
  background-color: rgba(228, 244, 234, 0.5);
  color: #9cd6b2;
  border: 1px solid #9cd6b2; }

.map-cell-room-24 {
  background-color: #c1fed1; }

.map-room-24-overlay {
  background-color: rgba(193, 254, 209, 0.5);
  color: #5dfc87;
  border: 1px solid #5dfc87; }

.map-cell-room-25 {
  background-color: #6e75ca; }

.map-room-25-overlay {
  background-color: rgba(110, 117, 202, 0.5);
  color: #38409a;
  border: 1px solid #38409a; }

.map-cell-room-26 {
  background-color: #939dba; }

.map-room-26-overlay {
  background-color: rgba(147, 157, 186, 0.5);
  color: #5a678d;
  border: 1px solid #5a678d; }

.map-cell-room-27 {
  background-color: #f4e49c; }

.map-room-27-overlay {
  background-color: rgba(244, 228, 156, 0.5);
  color: #eacb40;
  border: 1px solid #eacb40; }

.map-cell-room-28 {
  background-color: #96cd76; }

.map-room-28-overlay {
  background-color: rgba(150, 205, 118, 0.5);
  color: #61a23b;
  border: 1px solid #61a23b; }

.map-cell-room-29 {
  background-color: #83edf1; }

.map-room-29-overlay {
  background-color: rgba(131, 237, 241, 0.5);
  color: #27e0e7;
  border: 1px solid #27e0e7; }

.map-cell-room-30 {
  background-color: #6dedba; }

.map-room-30-overlay {
  background-color: rgba(109, 237, 186, 0.5);
  color: #1bd98d;
  border: 1px solid #1bd98d; }

.map-cell-room-31 {
  background-color: #bec195; }

.map-room-31-overlay {
  background-color: rgba(190, 193, 149, 0.5);
  color: #939759;
  border: 1px solid #939759; }

.map-cell-room-32 {
  background-color: #fcd494; }

.map-room-32-overlay {
  background-color: rgba(252, 212, 148, 0.5);
  color: #f9ac31;
  border: 1px solid #f9ac31; }

.map-cell-room-33 {
  background-color: #e27d99; }

.map-room-33-overlay {
  background-color: rgba(226, 125, 153, 0.5);
  color: #cc2d59;
  border: 1px solid #cc2d59; }

.map-cell-room-34 {
  background-color: #99c7ef; }

.map-room-34-overlay {
  background-color: rgba(153, 199, 239, 0.5);
  color: #4197e1;
  border: 1px solid #4197e1; }

.map-cell-room-35 {
  background-color: #a09cb7; }

.map-room-35-overlay {
  background-color: rgba(160, 156, 183, 0.5);
  color: #696489;
  border: 1px solid #696489; }

.map-cell-room-36 {
  background-color: #cee6a7; }

.map-room-36-overlay {
  background-color: rgba(206, 230, 167, 0.5);
  color: #a2cf58;
  border: 1px solid #a2cf58; }

.map-cell-room-37 {
  background-color: #f37cd9; }

.map-room-37-overlay {
  background-color: rgba(243, 124, 217, 0.5);
  color: #ea1fbe;
  border: 1px solid #ea1fbe; }

.map-cell-room-38 {
  background-color: #a66da8; }

.map-room-38-overlay {
  background-color: rgba(166, 109, 168, 0.5);
  color: #6c416e;
  border: 1px solid #6c416e; }

.map-cell-room-39 {
  background-color: #74b2ea; }

.map-room-39-overlay {
  background-color: rgba(116, 178, 234, 0.5);
  color: #2181d7;
  border: 1px solid #2181d7; }

.map-cell-room-40 {
  background-color: #7989fe; }

.map-room-40-overlay {
  background-color: rgba(121, 137, 254, 0.5);
  color: #1430fd;
  border: 1px solid #1430fd; }

.map-cell-room-41 {
  background-color: #d297b8; }

.map-room-41-overlay {
  background-color: rgba(210, 151, 184, 0.5);
  color: #b35087;
  border: 1px solid #b35087; }

.map-cell-room-42 {
  background-color: #f3f070; }

.map-room-42-overlay {
  background-color: rgba(243, 240, 112, 0.5);
  color: #e9e514;
  border: 1px solid #e9e514; }

.map-cell-room-43 {
  background-color: #d6a7f7; }

.map-room-43-overlay {
  background-color: rgba(214, 167, 247, 0.5);
  color: #aa49ef;
  border: 1px solid #aa49ef; }

.map-cell-room-44 {
  background-color: #c6a7d8; }

.map-room-44-overlay {
  background-color: rgba(198, 167, 216, 0.5);
  color: #9860b9;
  border: 1px solid #9860b9; }

.map-cell-room-45 {
  background-color: #9e7add; }

.map-room-45-overlay {
  background-color: rgba(158, 122, 221, 0.5);
  color: #6531c0;
  border: 1px solid #6531c0; }

.map-cell-room-46 {
  background-color: #ad9dcc; }

.map-room-46-overlay {
  background-color: rgba(173, 157, 204, 0.5);
  color: #755aa9;
  border: 1px solid #755aa9; }

.map-cell-room-47 {
  background-color: #e787ad; }

.map-room-47-overlay {
  background-color: rgba(231, 135, 173, 0.5);
  color: #d63273;
  border: 1px solid #d63273; }

.map-cell-room-48 {
  background-color: #cec1ae; }

.map-room-48-overlay {
  background-color: rgba(206, 193, 174, 0.5);
  color: #a8906e;
  border: 1px solid #a8906e; }

.map-cell-room-49 {
  background-color: #e5aec0; }

.map-room-49-overlay {
  background-color: rgba(229, 174, 192, 0.5);
  color: #cc6184;
  border: 1px solid #cc6184; }

.map-cell-room-50 {
  background-color: #81f57b; }

.map-room-50-overlay {
  background-color: rgba(129, 245, 123, 0.5);
  color: #26ee1c;
  border: 1px solid #26ee1c; }

.map-room, #map-pathes {
  position: absolute;
  text-shadow: -1px -1px 0 #FFF, 1px -1px 0 #FFF, -1px 1px 0 #FFF, 1px 1px 0 #FFF; }
.map-room h2, #map-pathes h2 {
  font-size: 1.5em;
  font-weight: bold; }

.avatar-player {
  background-image: url("data:image/gif;base64,R0lGODdhDgAOAHcAACH/C05FVFNDQVBFMi4wAwEAAAAh+QQJCgAAACwAAAAADgAOAIMAAAAiIDRFKDysMjJmOTGpdVDGclCEnkO2n1eNa1FgWJgAAAAAAAAAAAAAAAAAAAAETxBIGaa9QIgxwKhUNhDkoFkmMRaFMRwCSqrEgXDTVmoHUagVAU0QSAh/Mc+MmCqYAIHRQKHYjFRJz/S6k3QECm4JNzFJTTEQtIPuYDAgdwQAIfkECQoAAAAsAAAAAA4ADgCDAAAAIiA0rDIyRSg8ZjkxYFiYqXVQxnJQjWtRhJ5DAAAAAAAAAAAAAAAAAAAAAAAABE8QSBmmnUIKMQYQFQUMAmFuXvYJxWYchulNZFGYhLFhJduVsUFlgBMiSEEJ6QQixjKBzamTSGxUIxzOOlNKcYIEycL5cgAhdKYzvrjRGkkEACH5BAkKAAAALAAAAAAOAA4AgwAAACIgNKwyMkUoPGY5Mal1UGBYmKeCe8ZyUI1rUYSeQwAAAAAAAAAAAAAAAAAAAARQEEgZpp1CijGyqBTACQKxZYBHEkThCsZgdSwrHOREm5thIKbKrpMYtEwSI2sQCBiBskCJpRjZZBqBQmGqoZKKlY3Q0Yh2puhEmtpgL/DKNwIAIfkECQoAAAAsAAAAAA4ADgCDAAAAIiA0rDIyRSg8ZjkxhJ5DqXVQxnJQYFiYAAAAAAAAAAAAAAAAAAAAAAAAAAAABE8QSBmmvUCMnSsFg0AQgiZIp1aIRlsOVliMo0HAaFkUG1tWotEgcPDhBiNNIIC0wZg0zQAhKk1KNAKCipMgkyQB9TQJBUnPSeDUI1vc6ksEADs=");
  background-size: 100% auto; }

.avatar-player-dead {
  background-image: none; }

.avatar-enemy {
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAOCAQAAAC1QeVaAAAAeUlEQVQYlX2Q0Q3DMAgFD6tzdCxL2SNjOHNEolt5kdePkgasqucfi0PPBgMAiS9mZCTK2bQolyQNedar8qQbgNM5ePEEoDMis13hOzPUTUhPpfv+qKVZ2lqO6tGwr1O6JJc00igNzARMjMlnORunld/+4q+MVyvXbt9QxF+28/K7hAAAAABJRU5ErkJggg==");
  background-size: 100% auto; }

.avatar-boss {
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAOCAYAAAAfSC3RAAAAuklEQVQokZ2SsQ3EIAxFv6NrMkKaG4CWNdJeJskYySJcmzVoKSloMoJLX3EJB4TkpHwJ2cZ+2BImJBIRwYmIiLI4hYpclc+cFDJa49V1AIDZezzbFoO1B5j+QbtKuNk9ozUGazF7j/e6HqBJqWzmBoVG5xCYzzrVQaN1tah2/7gqCsynj8WO5UhpHJgxOnekt48XAGK0Fun7aCelYm47v45ERPvSBGbQskRbiDLwjm6D2a5eFn63K9Z/AKl/YS7wMRjiAAAAAElFTkSuQmCC");
  background-size: 100% auto; }

.avatar-none:after {
  content: "?";
  line-height: 50px;
  font-size: 35px;
  text-align: center;
  width: 50px; }
