/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/*
  Variables
*/
* {
  box-sizing: border-box; }

body {
  background-color: #DDD;
  font-family: sans-serif;
  font-size: 12px;
  color: #444;
  line-height: 18px;
  padding: 10px; }

h1 {
  font-size: 2em;
  font-weight: bold; }

h2 {
  font-size: 1.5em;
  font-weight: bold; }

small {
  font-size: 0.8em;
  color: #999; }

button {
  background-color: #d0d0d0;
  border: 1px solid #c4c4c4;
  border-radius: 3px;
  padding: 3px 10px;
  border-bottom-width: 3px; }
button:hover {
  background-color: #eaeaea; }
button .active {
  top: 3px;
  border-top: 3px;
  border-bottom-width: 1px;
  background-color: #dddddd; }

input {
  background-color: #DDD;
  border: 1px solid #c4c4c4;
  padding: 3px;
  border-bottom-width: 3px; }

input:focus {
  background-color: #f7f7f7; }

/* Remove controls from Firefox */
input[type=number] {
  -moz-appearance: textfield;
  text-align: right; }

/* Re-applies the controls on :hover and :focus */
input[type="number"]:hover, input[type="number"]:focus {
  -moz-appearance: number-input; }

textarea, input {
  outline: none; }

#app {
  width: 100%; }

#main {
  display: flex;
  margin: 15px 0px; }

#menu {
  width: 250px;
  margin-right: 15px; }
#menu button {
  display: block;
  width: 100%;
  margin-bottom: 5px; }

#questLog {
  font-family: monospace;
  font-size: 0.8em; }
#questLog.info {
  border-bottom: 3px solid #c4c4c4;
  font-size: 1.5em;
  margin-bottom: 5px;
  color: #2b2b2b; }

.disabled {
  opacity: 0.7; }

.panel {
  border: 1px solid #c4c4c4;
  background-color: #eaeaea;
  padding: 10px; }

.tooltip {
  display: none;
  position: absolute;
  border: 1px solid #333;
  background-color: #161616;
  border-radius: 3px;
  padding: 3px 10px;
  color: #fff;
  font-size: 0.8em;
  font-family: monospace; }
.tooltip li {
  margin-left: 15px; }
.tooltip strong {
  text-decoration: underline; }

.message-success {
  background-color: rgba(98, 225, 98, 0.2);
  border-color: #62e162;
  color: #444; }

.message-info {
  background-color: rgba(98, 98, 225, 0.2);
  border-color: #6262e1;
  color: #444; }

.message-danger {
  background-color: rgba(225, 166, 98, 0.2);
  border-color: #e1a662;
  color: #444; }

message-fatal {
  background-color: rgba(225, 98, 98, 0.2);
  border-color: #e16262;
  color: #444; }

/*
  VARIABLES
*/
/*
  CLASSES
*/
.map-row {
  display: table-row; }

/* Cell */
.map-cell {
  display: table-cell;
  width: 14px;
  border: none; }

.map-cell:after {
  content: "";
  display: block;
  padding-bottom: 100%;
  border: none; }

/* Specific cells */
.map-cell-wall {
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAOCAYAAAAfSC3RAAAAnUlEQVQokY1SuxLDIAxTOW8MjMwZkp/qh7Tf2g6ZGRnYfNcMLa1NHKdaeJxlIZnL7X594QMuDQCwVsa8JHgII8kClwYuDc9H1URJkmpes3BEAgDKUa1Toq8q9UsAmLNrSzUmv/QHylE1DlaRFcaIXTheIDui9Cn3Hv72KF+zVn6Pw/IyjkZamBLZimOCFsLZv+xKlKPO4uwzj2H18waURVCVLdhS4wAAAABJRU5ErkJggg==");
  background-size: 100% auto;
  background-color: #CCC; }

.map-cell-floor {
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAcAAAAHCAYAAADEUlfTAAAAL0lEQVQIW2NkgAAfKI1CMUIltlBNUpKBgeE5yFhsAC4JcgzITpAAMgDrhElimAAA2UEIVBhnGn4AAAAASUVORK5CYII=");
  background-size: 50% auto;
  background-color: #c1ac53; }

.map-cell-water {
  /*background-image:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAcAAAAHCAYAAADEUlfTAAAAMElEQVQIW2NkwAMYoXLGUPosMh8kCZJAEYTxYTqxGg6SlITKPIfScD6yTgxFeI0FAHc5BlSOgEKdAAAAAElFTkSuQmCC);*/
  background-image: url("data:image/gif;base64,R0lGODdhDgAOAKIAAAAAADJubnevtsbZ6MHH33yZuwAAAAAAACH/C05FVFNDQVBFMi4wAwEAAAAh+QQJHgAAACwAAAAADgAOAAADKyi63BJhwPAkhWOQLHWOGiGKITkypyA6UcNN2faV3DiGqo2uTu//wKCwlwAAIfkECR4AAAAsAAAAAA4ADgAAAysoutwaYcAg4oRjkCw1z0QoamLJiMrmRM0mYV4WjWC5Eam5oE7v/8Cg0JEAACH5BAkeAAAALAAAAAAOAA4AAAMrKLrMsSGM+KSNY5A8tc9EKGpiyYjL0AgS81EgF5RcGWqKfRJr7//AoLCXAAAh+QQJHgAAACwAAAAADgAOAAADKyi63BphwCDihGOQLDXPRChqYsmIyuZEzSZhXhaNYLkRqbmgTu//wKDQkQAAOw==");
  background-size: 100% auto;
  background-color: #1d67f9 !important; }

.map-cell-lava {
  background-image: url("data:image/gif;base64,R0lGODdhDgAOACcAACH/C05FVFNDQVBFMi4wAwEAAAAh+QQJHgAAACwAAAAADgAOAIIAAAC2dwBuMjLoWADBxwBuMgC2WAAAAAADMBi63CFiQPEkhWOQLHWOGiGKITkyZyA6UcNN2faV3DiGqo2uTu8vBUMj2BAWf8hGAgAh+QQJHgAAACwAAAAADgAOAIIAAAC2dwBuMjLoWADBxwBuMgC2WAAAAAADMBi63CpiQBHihGOQLDXPRChqYsmIyuZEzSZhXhaNYLkRqbmgTu8rBUMj2BAWf8hGAgAh+QQJHgAAACwAAAAADgAOAIIAAAC2dwBuMjLoWADBxwBuMgC2WAAAAAADMBi6zLJCjPikjWOQPLXPRChqYsmIy9AEEvNRICeUXBlqin0Sa+8vBUMj2BAWf8hGAgAh+QQJHgAAACwAAAAADgAOAIIAAAC2dwBuMjLoWADBxwBuMgC2WAAAAAADMBi63CpiQBHihGOQLDXPRChqYsmIyuZEzSZhXhaNYLkRqbmgTu8rBUMj2BAWf8hGAgA7");
  background-size: 100% auto;
  background-color: #f9d51d !important; }

.map-cell-void {
  background-size: 100% auto;
  background-color: #000 !important; }

.map-cell-item-enemy:after {
  background-size: 100% auto;
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAOCAQAAAC1QeVaAAAAeUlEQVQYlX2Q0Q3DMAgFD6tzdCxL2SNjOHNEolt5kdePkgasqucfi0PPBgMAiS9mZCTK2bQolyQNedar8qQbgNM5ePEEoDMis13hOzPUTUhPpfv+qKVZ2lqO6tGwr1O6JJc00igNzARMjMlnORunld/+4q+MVyvXbt9QxF+28/K7hAAAAABJRU5ErkJggg=="); }

.map-cell-item-chest:after {
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAOCAYAAAAfSC3RAAAAw0lEQVQokWNgIBMwovH/E6seWeP/NEtDBgYGBoapO1kZst1/Y7BnHT8P1wPT+L8/zJqBgYGBIWfOb4YpKawYVl1//I1BU5aLoXDVUQYGBgZGFmQJhOm/MTRC5L5huPm/koIJAe9BwL0HZxgYGBgYmWACLpJ/GW5eYmJwkfzLwMDAwLC9wYhhe4MRVjkGBgYGJhTT1hkQZSsDAwMDCzZBF8m/DJ4N5+BshKGnsduoFHQBRTOy05DlKHIqPFSJ1oGqj44AAG86PtaEiWBfAAAAAElFTkSuQmCC"); }

.map-cell-item-health:after {
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAOCAYAAAAfSC3RAAAAnklEQVQokcWRsQ6CMBRFD8YQQxgKLh0hfoGjf+DnMrowOzLKD5jg1sFoQkjKVFPbp4ycrS/3pPflwao0ZW2bsrZLM4CtH8jPJwC6dmePj1sizVw+cdJUFQCkSpFpzfNyZaoKUqUAyLRm33Y4eRNWGI3hNQy4n0ZjxLUi0YVN33+9Qz6d/boSh/ubaMclOZQiUZIlSRR9+Zf0F+no6zIDbk1Pu03MjqgAAAAASUVORK5CYII="); }

.map-cell-item-boss:after {
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAOCAYAAAAfSC3RAAAAuklEQVQokZ2SsQ3EIAxFv6NrMkKaG4CWNdJeJskYySJcmzVoKSloMoJLX3EJB4TkpHwJ2cZ+2BImJBIRwYmIiLI4hYpclc+cFDJa49V1AIDZezzbFoO1B5j+QbtKuNk9ozUGazF7j/e6HqBJqWzmBoVG5xCYzzrVQaN1tah2/7gqCsynj8WO5UhpHJgxOnekt48XAGK0Fun7aCelYm47v45ERPvSBGbQskRbiDLwjm6D2a5eFn63K9Z/AKl/YS7wMRjiAAAAAElFTkSuQmCC"); }

.map-cell-item-player:after {
  background: url("data:image/gif;base64,R0lGODdhDgAOAHcAACH/C05FVFNDQVBFMi4wAwEAAAAh+QQJCgAAACwAAAAADgAOAIMAAAAiIDRFKDysMjJmOTGpdVDGclCEnkO2n1eNa1FgWJgAAAAAAAAAAAAAAAAAAAAETxBIGaa9QIgxwKhUNhDkoFkmMRaFMRwCSqrEgXDTVmoHUagVAU0QSAh/Mc+MmCqYAIHRQKHYjFRJz/S6k3QECm4JNzFJTTEQtIPuYDAgdwQAIfkECQoAAAAsAAAAAA4ADgCDAAAAIiA0rDIyRSg8ZjkxYFiYqXVQxnJQjWtRhJ5DAAAAAAAAAAAAAAAAAAAAAAAABE8QSBmmnUIKMQYQFQUMAmFuXvYJxWYchulNZFGYhLFhJduVsUFlgBMiSEEJ6QQixjKBzamTSGxUIxzOOlNKcYIEycL5cgAhdKYzvrjRGkkEACH5BAkKAAAALAAAAAAOAA4AgwAAACIgNKwyMkUoPGY5Mal1UGBYmKeCe8ZyUI1rUYSeQwAAAAAAAAAAAAAAAAAAAARQEEgZpp1CijGyqBTACQKxZYBHEkThCsZgdSwrHOREm5thIKbKrpMYtEwSI2sQCBiBskCJpRjZZBqBQmGqoZKKlY3Q0Yh2puhEmtpgL/DKNwIAIfkECQoAAAAsAAAAAA4ADgCDAAAAIiA0rDIyRSg8ZjkxhJ5DqXVQxnJQYFiYAAAAAAAAAAAAAAAAAAAAAAAAAAAABE8QSBmmvUCMnSsFg0AQgiZIp1aIRlsOVliMo0HAaFkUG1tWotEgcPDhBiNNIIC0wZg0zQAhKk1KNAKCipMgkyQB9TQJBUnPSeDUI1vc6ksEADs="); }

/* Rooms */
.map-cell-room-0 {
  background-color: #6a7b97; }

.map-room-0-overlay {
  background-color: rgba(106, 123, 151, 0.5);
  color: #404a5b;
  border: 1px solid #404a5b; }

.map-cell-room-1 {
  background-color: #876fa6; }

.map-room-1-overlay {
  background-color: rgba(135, 111, 166, 0.5);
  color: #55436c;
  border: 1px solid #55436c; }

.map-cell-room-2 {
  background-color: #c8b1d3; }

.map-room-2-overlay {
  background-color: rgba(200, 177, 211, 0.5);
  color: #9a70ae;
  border: 1px solid #9a70ae; }

.map-cell-room-3 {
  background-color: #eddbf1; }

.map-room-3-overlay {
  background-color: rgba(237, 219, 241, 0.5);
  color: #c892d4;
  border: 1px solid #c892d4; }

.map-cell-room-4 {
  background-color: #c8cebf; }

.map-room-4-overlay {
  background-color: rgba(200, 206, 191, 0.5);
  color: #96a285;
  border: 1px solid #96a285; }

.map-cell-room-5 {
  background-color: #9cbbde; }

.map-room-5-overlay {
  background-color: rgba(156, 187, 222, 0.5);
  color: #5086c5;
  border: 1px solid #5086c5; }

.map-cell-room-6 {
  background-color: #c994de; }

.map-room-6-overlay {
  background-color: rgba(201, 148, 222, 0.5);
  color: #a246c6;
  border: 1px solid #a246c6; }

.map-cell-room-7 {
  background-color: #7878c6; }

.map-room-7-overlay {
  background-color: rgba(120, 120, 198, 0.5);
  color: #404098;
  border: 1px solid #404098; }

.map-cell-room-8 {
  background-color: #d1d582; }

.map-room-8-overlay {
  background-color: rgba(209, 213, 130, 0.5);
  color: #afb43d;
  border: 1px solid #afb43d; }

.map-cell-room-9 {
  background-color: #9ea2e5; }

.map-room-9-overlay {
  background-color: rgba(158, 162, 229, 0.5);
  color: #4e55cf;
  border: 1px solid #4e55cf; }

.map-cell-room-10 {
  background-color: #7efc88; }

.map-room-10-overlay {
  background-color: rgba(126, 252, 136, 0.5);
  color: #1afa2c;
  border: 1px solid #1afa2c; }

.map-cell-room-11 {
  background-color: #ad917e; }

.map-room-11-overlay {
  background-color: rgba(173, 145, 126, 0.5);
  color: #785e4d;
  border: 1px solid #785e4d; }

.map-cell-room-12 {
  background-color: #a2f8d8; }

.map-room-12-overlay {
  background-color: rgba(162, 248, 216, 0.5);
  color: #43f1b0;
  border: 1px solid #43f1b0; }

.map-cell-room-13 {
  background-color: #6a7085; }

.map-room-13-overlay {
  background-color: rgba(106, 112, 133, 0.5);
  color: #3d404c;
  border: 1px solid #3d404c; }

.map-cell-room-14 {
  background-color: #8a70eb; }

.map-room-14-overlay {
  background-color: rgba(138, 112, 235, 0.5);
  color: #451ed7;
  border: 1px solid #451ed7; }

.map-cell-room-15 {
  background-color: #c8c59d; }

.map-room-15-overlay {
  background-color: rgba(200, 197, 157, 0.5);
  color: #a39e5c;
  border: 1px solid #a39e5c; }

.map-cell-room-16 {
  background-color: #d3af9a; }

.map-room-16-overlay {
  background-color: rgba(211, 175, 154, 0.5);
  color: #b47753;
  border: 1px solid #b47753; }

.map-cell-room-17 {
  background-color: #fcf16d; }

.map-room-17-overlay {
  background-color: rgba(252, 241, 109, 0.5);
  color: #fae709;
  border: 1px solid #fae709; }

.map-cell-room-18 {
  background-color: #c68772; }

.map-room-18-overlay {
  background-color: rgba(198, 135, 114, 0.5);
  color: #96533c;
  border: 1px solid #96533c; }

.map-cell-room-19 {
  background-color: #e2f4b8; }

.map-room-19-overlay {
  background-color: rgba(226, 244, 184, 0.5);
  color: #bee660;
  border: 1px solid #bee660; }

.map-cell-room-20 {
  background-color: #a77e9d; }

.map-room-20-overlay {
  background-color: rgba(167, 126, 157, 0.5);
  color: #724d69;
  border: 1px solid #724d69; }

.map-cell-room-21 {
  background-color: #8c7990; }

.map-room-21-overlay {
  background-color: rgba(140, 121, 144, 0.5);
  color: #564a59;
  border: 1px solid #564a59; }

.map-cell-room-22 {
  background-color: #9e66f1; }

.map-room-22-overlay {
  background-color: rgba(158, 102, 241, 0.5);
  color: #6514dd;
  border: 1px solid #6514dd; }

.map-cell-room-23 {
  background-color: #826b72; }

.map-room-23-overlay {
  background-color: rgba(130, 107, 114, 0.5);
  color: #4a3d41;
  border: 1px solid #4a3d41; }

.map-cell-room-24 {
  background-color: #eceb65; }

.map-room-24-overlay {
  background-color: rgba(236, 235, 101, 0.5);
  color: #d1d01a;
  border: 1px solid #d1d01a; }

.map-cell-room-25 {
  background-color: #67d0aa; }

.map-room-25-overlay {
  background-color: rgba(103, 208, 170, 0.5);
  color: #31a078;
  border: 1px solid #31a078; }

.map-cell-room-26 {
  background-color: #978b7c; }

.map-room-26-overlay {
  background-color: rgba(151, 139, 124, 0.5);
  color: #60584d;
  border: 1px solid #60584d; }

.map-cell-room-27 {
  background-color: #9088c9; }

.map-room-27-overlay {
  background-color: rgba(144, 136, 201, 0.5);
  color: #5449a2;
  border: 1px solid #5449a2; }

.map-cell-room-28 {
  background-color: #6a73dd; }

.map-room-28-overlay {
  background-color: rgba(106, 115, 221, 0.5);
  color: #2a35b7;
  border: 1px solid #2a35b7; }

.map-cell-room-29 {
  background-color: #74a39f; }

.map-room-29-overlay {
  background-color: rgba(116, 163, 159, 0.5);
  color: #466b67;
  border: 1px solid #466b67; }

.map-cell-room-30 {
  background-color: #89fe66; }

.map-room-30-overlay {
  background-color: rgba(137, 254, 102, 0.5);
  color: #3bfc02;
  border: 1px solid #3bfc02; }

.map-cell-room-31 {
  background-color: #b6f2ba; }

.map-room-31-overlay {
  background-color: rgba(182, 242, 186, 0.5);
  color: #5fe368;
  border: 1px solid #5fe368; }

.map-cell-room-32 {
  background-color: #cf8cf4; }

.map-room-32-overlay {
  background-color: rgba(207, 140, 244, 0.5);
  color: #a82feb;
  border: 1px solid #a82feb; }

.map-cell-room-33 {
  background-color: #ba8983; }

.map-room-33-overlay {
  background-color: rgba(186, 137, 131, 0.5);
  color: #8a544d;
  border: 1px solid #8a544d; }

.map-cell-room-34 {
  background-color: #baee88; }

.map-room-34-overlay {
  background-color: rgba(186, 238, 136, 0.5);
  color: #86e12f;
  border: 1px solid #86e12f; }

.map-cell-room-35 {
  background-color: #f6fecb; }

.map-room-35-overlay {
  background-color: rgba(246, 254, 203, 0.5);
  color: #e5fc67;
  border: 1px solid #e5fc67; }

.map-cell-room-36 {
  background-color: #c77dd1; }

.map-room-36-overlay {
  background-color: rgba(199, 125, 209, 0.5);
  color: #9e3dab;
  border: 1px solid #9e3dab; }

.map-cell-room-37 {
  background-color: #a3f6d3; }

.map-room-37-overlay {
  background-color: rgba(163, 246, 211, 0.5);
  color: #46eda7;
  border: 1px solid #46eda7; }

.map-cell-room-38 {
  background-color: #b7ea7e; }

.map-room-38-overlay {
  background-color: rgba(183, 234, 126, 0.5);
  color: #86dc26;
  border: 1px solid #86dc26; }

.map-cell-room-39 {
  background-color: #7a84b9; }

.map-room-39-overlay {
  background-color: rgba(122, 132, 185, 0.5);
  color: #475186;
  border: 1px solid #475186; }

.map-cell-room-40 {
  background-color: #6a6fe9; }

.map-room-40-overlay {
  background-color: rgba(106, 111, 233, 0.5);
  color: #1e25cf;
  border: 1px solid #1e25cf; }

.map-cell-room-41 {
  background-color: #88f7c9; }

.map-room-41-overlay {
  background-color: rgba(136, 247, 201, 0.5);
  color: #28f19e;
  border: 1px solid #28f19e; }

.map-cell-room-42 {
  background-color: #78b6ef; }

.map-room-42-overlay {
  background-color: rgba(120, 182, 239, 0.5);
  color: #1d85e4;
  border: 1px solid #1d85e4; }

.map-cell-room-43 {
  background-color: #c584ab; }

.map-room-43-overlay {
  background-color: rgba(197, 132, 171, 0.5);
  color: #9a497a;
  border: 1px solid #9a497a; }

.map-cell-room-44 {
  background-color: #7474e5; }

.map-room-44-overlay {
  background-color: rgba(116, 116, 229, 0.5);
  color: #2626cd;
  border: 1px solid #2626cd; }

.map-cell-room-45 {
  background-color: #938b85; }

.map-room-45-overlay {
  background-color: rgba(147, 139, 133, 0.5);
  color: #5e5854;
  border: 1px solid #5e5854; }

.map-cell-room-46 {
  background-color: #6b65cb; }

.map-room-46-overlay {
  background-color: rgba(107, 101, 203, 0.5);
  color: #393397;
  border: 1px solid #393397; }

.map-cell-room-47 {
  background-color: #cddfca; }

.map-room-47-overlay {
  background-color: rgba(205, 223, 202, 0.5);
  color: #91b98a;
  border: 1px solid #91b98a; }

.map-cell-room-48 {
  background-color: #71aef8; }

.map-room-48-overlay {
  background-color: rgba(113, 174, 248, 0.5);
  color: #1077f3;
  border: 1px solid #1077f3; }

.map-cell-room-49 {
  background-color: #df6e95; }

.map-room-49-overlay {
  background-color: rgba(223, 110, 149, 0.5);
  color: #bd2a5d;
  border: 1px solid #bd2a5d; }

.map-cell-room-50 {
  background-color: #82c6af; }

.map-room-50-overlay {
  background-color: rgba(130, 198, 175, 0.5);
  color: #479b7f;
  border: 1px solid #479b7f; }

.map-room, #map-pathes {
  position: absolute;
  text-shadow: -1px -1px 0 #FFF, 1px -1px 0 #FFF, -1px 1px 0 #FFF, 1px 1px 0 #FFF; }
.map-room h2, #map-pathes h2 {
  font-size: 1.5em;
  font-weight: bold; }
